<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="connectionString" connectionString="Host=172.16.136.60;Port=21050;AuthMech=1;KrbRealm=GTMC.COM;KrbFQDN=qfwa0469;KrbServiceName=impala;UID=akpi;PWD=Pass123$" providerName="Simba Impala ODBC Driver" />-->

    <!--<add name="connectionString" connectionString="impala://172.16.136.60:21050/default;AuthMech=1;KrbHostFQDN=qfwa0469;KrbServiceName=impala;KrbRealm=GTMC.COM;UID=akpi;PWD=Pass123$" providerName="Cloudera ODBC Driver for Impala" />-->

    <add name="connectionString" connectionString="DSN=DMP.CSKPI.GTMC.x86;UID=dlrkpi;PWD=Pass123$" providerName="Cloudera ODBC Driver for Impala"/>

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QyhWeixinUtilServiceServiceSoapBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://signin.gtmc.com.cn/WXESTS/services/qyhWeixinUtilService" binding="basicHttpBinding" bindingConfiguration="QyhWeixinUtilServiceServiceSoapBinding" contract="OpenWeChatService.IQyhWeixinUtilService" name="QyhWeixinUtilServicePort"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
