@{
    ViewBag.Title = "页面不存在或者被删除！";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<img src="~/Content/res/404.png" title="" />
<p><span>Ohh....</span>这里的页面似乎被谁偷偷移走啦</p>
<a href="javascript:history.go(-1);">返回上一页</a>

